<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/mvc https://www.springframework.org/schema/mvc/spring-mvc.xsd">
    <!--方式1:通过applicationContext.xml注入 -->

    <bean id="user" class="springbean.pojo.User">
        <property name="id" value="1"/>
        <property name="name" value="jason"/>
        <property name="age" value="21"/>
    </bean>

    <!--方式2:自动装配
    导入约束
    xmlns:context="http://www.springframework.org/schema/context"

    xsi:schemaLocation 加入:
    http://www.springframework.org/schema/context
    https://www.springframework.org/schema/context/spring-context.xsd
    -->
    <context:annotation-config/>
    <bean id="books" class="springbean.pojo.Book"/>

    <!--方式3:构造器注入-->
    <bean id="user2" class="springbean.pojo.User">
        <constructor-arg name="id" value="2"/>
        <constructor-arg name="name" value="Lin"/>
        <constructor-arg name="age" value="22"/>
        <constructor-arg name="book" ref="books"/>
    </bean>


</beans>